# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/
*.sln.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# NuGet packages
*.nupkg
packages/
.nuget/

# Test results
TestResults/

# Visual Studio Code
.vscode/

# Dotnet
project.lock.json
project.fragment.lock.json
artifacts/

# Resharper
_ReSharper*/
*.DotSettings.user

# Publish
publish/

# Azure
*.PublishSettings

# Temporary files
*.tmp
*.temp